

.container {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallTitle{
  color: #202020;
  letter-spacing: 1.5;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
}

.loginButton {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  transition: all 0.3s ease;
}

.loginButton:hover {
  background-color: #333;
}

.signupButton {
  background-color:#444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.signupButton:hover {
  background-color: #4caf50;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}
.loginButton:hover {
  background-color: #4caf50;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}
