
  .container {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
  }
  
  /* Heading */
  .heading {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 40px;
  }
  .title{
    display: flex;
    justify-content: center;
    width: 100%;
    top: -200px;
  }
  
  /* Form */
  .form {
    width: 100%;
  }
  
  /* Input group */
  .inputGroup {
    margin-bottom: 16px;
    text-align: left;
  }
  
  /* Label */
  .label {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary);
    margin-bottom: 4px;
    display: block;
  }
  
  /* Input container */
  .inputContainer {
    position: relative;
  }
  
  /* Input field */
  .input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--background);
    color: var(--foreground);
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    border-color: var(--apple-green);
  }
  
  /* Forgot Password */
  .forgotPassword {
    display: block;
    font-size: 12px;
    color: var(--secondary);
    text-align: right;
    margin-bottom: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .forgotPassword:hover {
    color: var(--apple-green);
  }
  
  /* Submit Button */
  .submitButton {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: var(--apple-green);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Footer text */
  .footerText {
    font-size: 14px;
    color: var(--foreground);
    margin-top: 20px;
  }
  
  /* Create Account Link */
  .createAccountLink {
    color: var(--apple-green);
    text-decoration: none;
    font-weight: bold;
  }
  
  .createAccountLink:hover {
    text-decoration: underline;
  }
  